[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = cd60fd37-d0ac-45a6-9744-e69d55623965
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 7357:491
      size = 1367, 1877
      title = arshan@yggi: ~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 1378
      ratio = 0.736111111111
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 673
      ratio = 0.494126284875
      type = HPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = cd60fd37-d0ac-45a6-9744-e69d55623965
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 2aed2b26-b052-4c85-8d10-42b20470d98e
    [[[terminal5]]]
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = 0addd639-4047-46db-9427-e336a94156d3
  [[tristate]]
    [[[child0]]]
      fullscreen = False
      last_active_term = cd60fd37-d0ac-45a6-9744-e69d55623965
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 7357:491
      size = 1367, 1877
      title = arshan@yggi: ~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 1378
      ratio = 0.736111111111
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 673
      ratio = 0.494126284875
      type = HPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = cd60fd37-d0ac-45a6-9744-e69d55623965
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 2aed2b26-b052-4c85-8d10-42b20470d98e
    [[[terminal5]]]
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = 0addd639-4047-46db-9427-e336a94156d3
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.69
    background_type = transparent
    cursor_color = "#aaaaaa"
  [[tristate]]
    cursor_color = "#aaaaaa"
